name: Example
on: [push]

jobs:
  example:
    runs-on: ubuntu-latest
    steps:
    - name: Clone iutest repository
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git clone https://${GITHUB_ACTOR}:${GITHUB_TOKEN}@github.com:srz-zumix/iutest.git
    - uses: srzzumix/googletest:latest
      with:
        args:
          cd iutest/test
          make showcxxversion
          make USE_GTEST=1             GTEST_EXPECT_VER=${GTEST_EXPECT_VERSION} GTEST_EXPECT_LATEST=1 gtest-version
          make USE_GTEST=1 USE_GMOCK=1 GTEST_EXPECT_VER=${GTEST_EXPECT_VERSION} GTEST_EXPECT_LATEST=1 gtest-version
