on: 
  pull_request:
  schedule:
    - cron: '0 0 * * *'
    
name: Submodule Update
jobs:
  submodule_update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: submodule update
        run: |
          git fetch
          git checkout master
          git submodule init
          git submodule update
          git submodule foreach git pull origin master
      - name: commit
        run: |
          git config user.name ${{ github.actor }}
          git config user.email noreply@github.com
          git add -A
          git commit -m "update head [ci skip]" || true
      - name: push
        run: |
          git push https://${{ secrets.GITHUBPAT }}@github.com/${GITHUB_REPOSITORY}.git master
                        
